#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/ant.mk

# Add here any variable or target overrides you need.
DEB_JARS := /usr/share/ant/lib/ant-nodeps.jar
DEB_ANT_BUILDFILE := build-manager-deb.xml
DEB_FIXPERMS_EXCLUDE = manager\.db
JAVA_HOME := ${JAVA_HOME}
ifndef JAVA_HOME
JAVA_HOME := /usr/lib/jvm/java-8-openjdk-amd64
endif
PACKAGE := bytemine-manager

install/${PACKAGE}::
	dh_fixperms -p$(PACKAGE) -X manager\.db
	dh_install -p$(PACKAGE) ./bytemine-manager.jar usr/share/java/bytemine-manager
	dh_install -p$(PACKAGE) ./templates/client.ovpn.tpl usr/share/java/bytemine-manager/templates
	dh_install -p$(PACKAGE) ./templates/server.ovpn.tpl usr/share/java/bytemine-manager/templates
	dh_install -p$(PACKAGE) ./extlib/bytemine-crypto-1.0.4.jar usr/share/java/bytemine-manager/lib
	dh_install -p$(PACKAGE) ./extlib/bytemine-utils-1.2.1.jar usr/share/java/bytemine-manager/lib
	dh_install -p$(PACKAGE) ./extlib/bcprov-jdk16-146.jar usr/share/java/bytemine-manager/lib
	dh_install -p$(PACKAGE) ./extlib/commons-io-1.4.jar usr/share/java/bytemine-manager/lib
	dh_install -p$(PACKAGE) ./extlib/crypt4j-1.0.0.jar usr/share/java/bytemine-manager/lib
	dh_install -p$(PACKAGE) ./extlib/jsch-0.1.43.btm.jar usr/share/java/bytemine-manager/lib
	dh_install -p$(PACKAGE) ./extlib/junit-4.8.2.jar usr/share/java/bytemine-manager/lib
	dh_install -p$(PACKAGE) ./extlib/mail.jar usr/share/java/bytemine-manager/lib
	dh_install -p$(PACKAGE) ./extlib/miglayout-3.6.3-swing.jar usr/share/java/bytemine-manager/lib
	dh_install -p$(PACKAGE) ./extlib/sqlitejdbc-v054.jar usr/share/java/bytemine-manager/lib
	dh_install -p$(PACKAGE) ./extlib/xstream-1.4.1.jar usr/share/java/bytemine-manager/lib
	dh_install -p$(PACKAGE) ./extlib/yamlbeans-1.0.jar usr/share/java/bytemine-manager/lib
	dh_link -p$(PACKAGE) usr/share/java/bytemine-manager/lib/bytemine-crypto-1.0.4.jar usr/share/java/bytemine-manager/lib/bytemine-crypto.jar
	dh_link -p$(PACKAGE) usr/share/java/bytemine-manager/lib/bytemine-utils-1.2.1.jar usr/share/java/bytemine-manager/lib/bytemine-utils.jar
	dh_link -p$(PACKAGE) usr/share/java/bytemine-manager/lib/bcprov-jdk16-146.jar usr/share/java/bytemine-manager/lib/bcprov.jar
	dh_link -p$(PACKAGE) usr/share/java/bytemine-manager/lib/commons-io-1.4.jar usr/share/java/bytemine-manager/lib/commons-io.jar
	dh_link -p$(PACKAGE) usr/share/java/bytemine-manager/lib/crypt4j-1.0.0.jar usr/share/java/bytemine-manager/lib/crypt4j.jar
	dh_link -p$(PACKAGE) usr/share/java/bytemine-manager/lib/jsch-0.1.43.btm.jar usr/share/java/bytemine-manager/lib/jsch-btm.jar
	dh_link -p$(PACKAGE) usr/share/java/bytemine-manager/lib/junit-4.8.2.jar usr/share/java/bytemine-manager/lib/junit.jar
	dh_link -p$(PACKAGE) usr/share/java/bytemine-manager/lib/miglayout-3.6.3-swing.jar usr/share/java/bytemine-manager/lib/miglayout.jar
	dh_link -p$(PACKAGE) usr/share/java/bytemine-manager/lib/sqlitejdbc-v054 usr/share/java/bytemine-manager/lib/sqlitejdbc.jar
	dh_link -p$(PACKAGE) usr/share/java/bytemine-manager/lib/xstream-1.4.1.jar usr/share/java/bytemine-manager/lib/xstream.jar
	dh_link -p$(PACKAGE) usr/share/java/bytemine-manager/lib/yamlbeans-1.0.jar usr/share/java/bytemine-manager/lib/yamlbeans.jar
